.idea/*
.scannerwork/*
.terraform
bin/*
vendor/*
.vendor*/*
build/*
temp/*
sandbox/
rest-api/
vendor
*.idea
**.pem
**.zip
data/*
TODO
terraform.tfstate.backup
terraform.tfstate
.terraform/
.DS_Store
.#*
.terraform.tfstate.lock.info
encrypted.tfvars
env.tfvars
plan.tf
ci/credentials.yml
pkg/apimodel/generated
*.json
.gradle
*.csv
/wholesale-allocations-automation-tests
reports